<% #cache(cache_key_team(team, user_course_team)) do %>
<div class="row col-md-12">
  <div class="row col-md-5 tem">
    <% diff = team.course.max_members - team.students.count   %>
    <% if diff == 0 %>
    <% full = true %>
    <% end %>
      <div class="panel panel-primary">
  <div class="panel-heading"><%= team.name %>
    <% if full == true %>
    <span class="label label-danger pull-right"> Full </span>
    <% else %>
    <span class="label label-success pull-right"> <%= pluralize(diff, "Vacancy") %> </span>
    <% end %>
          </div>
  <div class="panel-body">
  <ul>
     <table class="table">
      <tr>
        <th> Name </th>
        <th> Year </th>
        <th> Major </th>
     </tr>
       <%= render partial: "courses/student", collection: team.students, locals: {current_course: team.course, show_team: false, current_team_owner_id: team.team_owner_id, current_team: false} %>
     </table>
  </ul>
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-left">
    <% if team == user_course_team %>
      <%= link_to 'Leave Team', leave_course_team_path(team.course, team), method: :delete, data: {confirm: 'Are you sure'}, class: "btn btn-danger btn-sm" %>
      <% else %>
      <%= link_to 'Express Interest', express_interest_course_team_path(team.course, team), method: :post, class: "btn btn-primary btn-sm", id: "express_interest", style: "display: none;" %>
      <% end %>

      </div>
  </div>
    </div>
</div>
</div>
<% #end %>






