<%= javascript_tag do %>
var data = [
  <% @team.students.each do |st| %>
  {
classname: '<%= st.first_name %>',
axes: [
  <%  st.skills.each do |sk| %>
  <% #if  @course.skills.include?(sk) %>
  <% rating = SkillRating.where(user_id: st.id, skill_id: sk.id).first.rating %>
  <% if sk.name == "C++" %>
          { axis: "<%= sk.name %>", value: <%= rating %>, xOffset: 13 ,  yOffset: -1},
  <% else %>
          { axis: "<%= sk.name %>", value: <%= rating %>},
  <% end %>
<% #end %>
<% end %>
{axis: "Time", value: <%= st.enrollments.where(course_id: @course.id, user_id: st.id).first.time_commitment/5%>}
]
    },
<% end %>
 {
    classname: 'class',
      axes: [
<% Skill.all.each do |sk| %>
<% if(@course.skills.include?(sk)) %>
<% rating = CourseSkillset.where(course_id: @course.id, skill_id: sk.id).first.min_rating %>
<% else %>
<% rating = 0 %>
 <% end %>
       { axis: "<%= sk.name %>", value: <%= rating %>},
    <% end %>
{axis: "Time", value: <%=@course.min_time_commitment/5  %> }
]
}
]
<% end %>
<%= javascript_include_tag 'skills_chart', 'data-turbolinks-track' => true %>
<div class="chart-container"></div>
     <script>
RadarChart.draw(".chart-container", data);
 </script>
  <br>
</div>
