
<% #cache("#{notification.id}-#{notification.updated_at}") do %>
<div class="row "%>
  <div class= "col-md-5"%>
  <% if notification.notification_code.to_i == 5 %>
<div class="panel panel-success">
  <% elsif notification.notification_code.to_i == 6 %>
  <div class="panel panel-warning">
    <% else %>
   <div class="panel panel-default">
     <% end %>
  <div class="panel-heading"> <%= notification.subject %></div>
  <div class="panel-body">
  <%= notification.body %>
    <% if notification.notification_code.to_i == 10 %>
    <% course = (Team.find_by_id(notification.attachment.to_i)).course.includes %>
    <%= course.name %>
   <% rating_array = [['n00b',0],['Some Experience',1],['Experienced',2],['Pro',3]] %>
    <%= form_for(:skillset, url: {controller: 'notifications', action: 'rate', id: notification.id, user_id: notification.sender.id}) do |f| %>
    <% course.skills.each do |sk| %>
    <p>
      <%= f.label sk.name %>
      <%= f.select sk.id.to_i, rating_array %>
    </p>
     <% end %>
    <p>
    <%= f.label :dependability, 'Dependability' %>
    <%= f.number_field(:dependability, in: 1..10, step: 1) %>
      <b>Out of 10 points</b>
    </p>
    <%= f.submit 'Submit' , class: "btn btn-success"%>
<% end %>
    <% end %>


   </div>
   <div class="panel-footer">
  <% if notification.notification_code.to_i == 1 %>
     <div class="row ">
     <%= button_to 'Accept', accept_notification_path(notification), class: "btn btn-success" %>
     <%= button_to 'DENY', reject_notification_path(notification), class: "btn btn-danger" %>
     </div>
  <% elsif notification.notification_code.to_i == 3 %>
   <%= button_to 'Accept', accept_notification_path(notification), class: "btn btn-success" %>
     <%= button_to 'Reject', reject_notification_path(notification), class: "btn btn-danger" %>
     <% else %>
      <% if notification.notification_code.to_i != 10 %>
     <%= link_to 'Mark as Read', mark_as_read_notification_path(notification), method: :delete, class: "btn btn-success btn-sm"%>
  <% end %>
     <% end %>
   </div>
</div>
    </div>
  </div>
<% #end %>
