<%= javascript_tag do %>
var data = [
  {
    className: 'user',
    axes: [
      <% @user_skill_rating.each do |sk,rating| %>
      <% if sk.name == "C++" %>
{axis: "<%= sk.name %>", value: <%= rating %>, xOffset: 13 ,  yOffset: -1},
<% else %>
      {axis: "<%= sk.name %>", value: <%= rating %>},
        <% end %>

<% end %>
    ]
  }
]
<% end %>
<%= javascript_include_tag 'skills_chart', 'data-turbolinks-track' => true %>

<div class="row col-md-12">
<div class="pull-left">
 <div class="page-header">
   <%= image_tag @user.prof_pic.url, class: "img-circle", width: "150", height: "150", align: "left" %>
   <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
  </div>
  </div>
  <div class="chart-container pull-right"></div>
     <script>
RadarChart.draw(".chart-container", data);
</script>
  <br>
</div>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#bio">Bio</a></li>
  <li><a data-toggle="tab" href="#skills">Skills</a></li>
  <li><a data-toggle="tab" href="#classes">Classes</a></li>
</ul>
<div class="tab-content">
  <div id="bio" class="tab-pane fade in active">
    <h3>Bio</h3>
    <p> <%= mail_to @user.email %> </p>
    <p> <%= link_to 'Github link', @user.github %></p>
  </div>
  <div id="skills" class="tab-pane fade">
    <% if @user.id == current_user.id %>
    <%= link_to 'Edit Skills', edit_skills_path, class: "btn btn-primary" %>
    <% end %>
    <p>
    <ul>
      <% @user_skill_rating.each do |sk,rating| %>
      <li> <%= "#{sk.name}: #{ SkillRating.rating_name(rating.to_i) }" %></li>
      <% end %>
    </ul>
    </p>
  </div>
  <div id="classes" class="tab-pane fade">
    <ul>
     <% @courses.each do |course| %>
                  <% if @course_team.has_key?(course) %>
                  <% team = @course_team[course] %>
                        <li><%= link_to course.name, course %>
                            <ul>
                                <li><%= link_to team.name, team %>
                            </ul>
                        </li>
                   <% else %>
                      <li> <%= link_to course.name, course %></li>
                 <% end %>
              <% end %>
    </ul>
  </div>
</div>
