
<tr>
  <% #cache(cache_key_for_student_row(student, current_course, show_team, current_team, current_team_owner_id)) do %>
  <td>
    <%= link_to "#{student.first_name} #{student.last_name} ", user_path(student)%>
    <% if (show_team == false) && (student.id == current_team_owner_id)%>
    <span class="label label-warning">Owner</span>
    <% end %>
  </td>
  <td><%= student.year %> </td>
  <td><%= student.major %> </td>
  <% if show_team %>
  <td>
    <% tm = student.find_course_team(current_course) %>
    <% if !tm %>
    <%= 'Free' %>
    <% else %>
    <%= link_to tm.name, tm %>
    <% end %>
    <% if current_team != false && student.id != current_user.id && (tm == false || tm.id != current_team.id)%>
    <%= link_to 'Invite', users_invite_path(id: student.id, team_id: current_team.id), method: :post %>
    <% end %>
  </td>
  <% end %>
  <% #end %>
</tr>
