<tr>
  <td>
    <%= link_to "#{student.first_name} #{student.last_name} ", user_path(student)%>
    <% if (show_team == false) && (student.id == current_team_owner_id)%>
    <span class="label label-warning">Owner</span>
    <% end %>
  </td>
  <td><%= student.year %> </td>
  <td><%= student.major %> </td>
  <% if show_team %>
  <td>
    <% tm = student.find_course_team(current_course) %>
    <% if !tm %>
    <%= 'Free' %>
    <% else %>
    <%= tm.name %>
    <% end %>
    <% if current_team != false && student.id != current_user.id %>
    <%= link_to 'Invite', users_invite_path(id: student.id, team_id: current_team.id), method: :post %>
    <% end %>
  </td>
  <% end %>
</tr>