
<% rating_array = [['n00b',0],['Some Experience',1],['Experienced',2],['Pro',3]] %>
<%= form_for(@course, url: courses_path) do |f| %>
<% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, 'Name' %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="form-group">
  <%= f.label :description, 'Description' %><br />
  <%= f.text_area :description, autofocus: true %>
  </div>
  <div class="form-group">
  <%= f.label :max_members, 'Maximum number of students per Team' %><br />
  <%= f.number_field(:max_members, in: 1..10, step: 1) %>
  </div>
  <div class="form-group">
    <%= f.label :min_time_commitment, 'Minimum Time Commitment' %><br />
    <%= f.number_field(:min_time_commitment, in: 1..20, step: 1) %>
  </div>
 <div class="form-group">
   <%= f.label :start_date, 'Start Date' %><br />
   <%= f.date_select :start_date %>
  </div>
 <div class="form-group">
   <%= f.label :end_date, 'Start Date' %><br />
   <%= f.date_select :end_date %>
  </div>
  <%= f.label :skillset %>
  <div class="row">
    <div class="form-group col-md-4" style="overflow-y: scroll;height: 200px;border: solid" >
      <%= fields_for(:skillset) do |field| %>
        <% Skill.all.each do |sk| %>
          <p>
          <%= field.label sk.name %>
          <%= field.select sk.id.to_i, rating_array  %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
  
<%= f.submit 'Create' %>
<% end %>
