<!-- <h1>Courses#show</h1>
<p>Find me in app/views/courses/show.html.erb</p> -->

<h1><%= @course.name %> </h1>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#classmates">Classmates</a></li>
  <li><a data-toggle="tab" href="#teams">Teams</a></li>
</ul>

<div class="tab-content">
  <div id="classmates" class="tab-pane fade in active">
    <h5>Order by </h5>
   <div class="btn-group">
    <% Skill.all.each do |skill| %>
    <%= link_to skill.name, course_path(@course,order_skill: skill.id) , class: "btn btn-sm btn-default" %>
    <% end %>
     <br><br><br>
    </div>
    <table class="table">
      <tr>
        <th> Name </th>
        <th> Year </th>
        <th> Major </th>
        <th> Team </th>
     </tr>
      <%= render partial: "student", collection: @ordered_students, locals: {current_course: @course, show_team: true, current_team_owner_id: false , current_team: @user_course_team} %>
    </table>
  </div>
  <div id="teams" class="tab-pane fade">
    <%= render :partial => "teams/team", :collection => @course.teams, locals: {user_course_team: @user_course_team} %>
    <% if @user_course_team == false %>
    <div class="pull-left">
    <%= link_to 'Create a Team', new_course_team_path(@course) , class: "btn btn-primary"%>
    </div>
    <% end %>
  </div>
</div>
