<!-- <h1>Courses#show</h1>
<p>Find me in app/views/courses/show.html.erb</p> -->

<div class="row">
    <div class="col-md-4">
    <h1><%= @course.name %> </h1>
          <p><small><%= @course.description %></small> </p>
       <span class="label label-default"> <%= @course.max_members %> per team </span> &nbsp;
      <span class="label label-default"> <%= @course.min_time_commitment %> hrs/wk </span> &nbsp;
      <% @course.skills.each do |sk| %>
      <span class="label label-default"> <%= sk.name %> </span> &nbsp;
      <% end %>
      <% if !@enrolled %>
      <p>
      <%= link_to 'Join Class', join_course_path(@course), method: :post, class: "btn btn-primary", id: "joiner" %>
      </p>
      <% else %>
      <% if @user_course_team == false %>
        <p>
          <%= link_to 'Leave Class', leave_course_path(@course), method: :post, class: "btn btn-primary", id: "leaver" %>
      </p>
      <% else %>
      <p><small> Leave your team to leave the course </small></p>
      <% end %>
      <% end %>
  </div>
</div>
<% if @enrolled %>
<div class="row">
  <h5 class="col-md-4"><%= "Your time commitment: #{@time} hrs/wk" %><h5>
  <%= form_tag(edit_time_commitment_course_path(@course), class:"col-md-8 pull-left" ) do %>
<%= number_field_tag(:time, in: 1..20, step: 1) %>
<%= submit_tag("Update Time Commitment") %>
<% end %>
<% end %>
</div>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#classmates">Classmates</a></li>
  <li><a data-toggle="tab" href="#teams">Teams</a></li>
</ul>

<div class="tab-content">
  <div id="classmates" class="tab-pane fade in active">
    <h5>Order by </h5>
   <div class="btn-group">
     <% @course.skills.each do |skill| %>
    <%= link_to skill.name, course_path(@course,order_skill: skill.id) , class: "btn btn-sm btn-default" %>
    <% end %>
     <%= link_to 'Time', course_path(@course,order_skill: -1) , class: "btn btn-sm btn-default" %>
     <%= link_to 'OverallRating', course_path(@course,order_skill: -2) , class: "btn btn-sm btn-default" %>
     <br><br><br>
    </div>
      <% if @enrolled %>
    <table class="table">
      <tr>
        <th> Name </th>
        <th> Year </th>
        <th> Major </th>
        <th> Team </th>
     </tr>

      <%= render partial: "student", collection: @ordered_students, locals: {current_course: @course, show_team: true, current_team_owner_id: false , current_team: @user_course_team} %>

    </table>
<% else %>
        <h3> Enroll to view students </h3>
      <% end %>
  </div>

  <div id="teams" class="tab-pane fade">
    <% if @enrolled %>
    <%= render :partial => "teams/team", :collection => @course.teams, locals: {user_course_team: @user_course_team} %>
    <% if @user_course_team == false %>
    <div class="pull-left">
    <%= link_to 'Create a Team', new_course_team_path(@course) , class: "btn btn-primary"%>
    </div>
    <% end %>
  </div>
  <% else %>
  <h3> Enroll to view teams </h3>
  <% end %>
</div>
